{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% load crispy_forms_tags %}
<div class="main-container">
    <h1>Editar usuario</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Submit Post">
    </form>

</div>

{% endblock %}