{% extends 'base.html' %}
{% block contenido %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<main>
    <div class="register-container">
        <h2>Restablecer contraseña</h2>
        <h2>Ingresa su email, y le enviaremos instrucciones para ingresar una nueva contraseña</h2>

        {% language 'es' %}
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="Submit" value="Enviar" class="btn btn-primary">
        </form>
        {% endlanguage %}
    </div>
</main>

{% endblock %}
