{% extends 'base.html' %}
{% block contenido %}
{% load static %}


<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<main>
    <div class="register-container">
        <h1>Revisa tu email</h1>
        <h2>Las instrucciones para ingresar una nueva contraseña han sido enviadas.</h2>
        <h3>IMPORTANTE: Revisa la casilla de SPAM o Correo no deseado (Si tenías cuenta con ese correo)</h3>
        <h4>Nuestro correo es odecmachagai@gmail.com</h4>
    </div>
</main>

{% endblock %}
